.player {
  padding: 0 10px;
  text-align: center;
  display: flex;
  align-items: center;

  .clan-rank {
    margin-right: 10px;

    .clan-rank-position {
      display: flex;
      flex-direction: column;

      .fa-caret-down {
        font-size: 1.6rem;
        color: red;
      }

      .fa-caret-up {
        font-size: 1.6rem;
        color: green;
      }

      i.fa.fa.equals {
        font-size: 1.5rem;
      }
    }
  }

  .league {
    display: flex;
    align-items: center;

    .league-image {
      margin-right: 10px;
      margin-left: 10px;
    }

    .league-trophies {
      position: relative;
      display: flex;
      align-items: center;
      margin-right: 10px;
      background: linear-gradient(0deg, orange 10%, white 100%);
      padding: 5px;
      border-radius: 5px;
      border: 0.5px solid black;
      min-width: 75px;
      font-size: 0.8rem;

      span {
        font-size: 0.9rem;
      }

      img {
        position: absolute;
        right: -5px;
        top: -4px;
        margin-right: 5px;
        height: 30px;
        width: 27px;
      }
    }
  }

  .level-info {
    position: relative;
    align-self: flex-end;

    img {
      width: 30px;
      height: 30px;
    }

    .level {
      position: absolute;
      top: 9px;
      left: 0px;
      font-size: 0.8rem;
      height: 30px;
      width: 30px;
      color: #fafafa;
    }
  }
}
