<div class="player">

  <div class="clan-rank">
    <span class="clan-rank-position up" *ngIf="member.clanRank < member.previousClanRank">
      <i class="fa fa-caret-up"></i>
      {{ member.previousClanRank - member.clanRank }}
    </span>
    <span class="clan-rank-position down" *ngIf="member.clanRank > member.previousClanRank">
      <i class="fa fa-caret-down"></i>
      {{ member.clanRank - member.previousClanRank }}
    </span>
    <span class="clan-rank-position equals" *ngIf="member.clanRank === member.previousClanRank">
      <i class="fa fa-equals"></i>
    </span>
  </div>

  <div class="level-info">
    <img src="assets/img/level.png" alt="">
    <span class="level shadowed">
      {{ member.expLevel}}
    </span>
  </div>

  <div class="league">
    <img class="league-image" [src]="member.league.iconUrls.tiny" />
    <div class="league-trophies">
      <img
        src="https://vignette.wikia.nocookie.net/clash-royale-esp/images/7/7c/Trofeo.png/revision/latest?cb=20160308011610&path-prefix=es" />
      <span class="shadowed">
        {{ member.trophies }}
      </span>
    </div>
  </div>

  <span class="player-name shadowed">{{ member. name }}</span>

</div>
