<ion-header>
  <ion-toolbar class="p-grid">
    <div class="score shadowed p-col-12 p-justify-center">

      <div class="clan p-dir-col">
        <div class="clan-score p-align-center p-grid">
          <div class="stars">
            <span>{{ currentWar.clan.stars }}</span>
            <i class="fa fa-star"></i>
          </div>
          <img [src]="currentWar.clan.badgeUrls.small" [alt]="currentWar.clan.name">
        </div>
        <span class="clan-destruction">{{ currentWar.clan.destructionPercentage | number }} %</span>
      </div>

      <span class="vs">
        VS.
      </span>

      <div class="clan p-dir-col">
        <div class="clan-score p-align-center p-grid">
          <img [src]="currentWar.opponent.badgeUrls.small" [alt]="currentWar.opponent.name">
          <div class="stars">
            <span>{{ currentWar.opponent.stars }}</span>
            <i class="fa fa-star"></i>
          </div>
        </div>
        <span class="clan-destruction">{{ currentWar.opponent.destructionPercentage | number }} %</span>
      </div>

    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="war p-grid">

    <div class="clan-info p-sm-12 p-md-12 p-lg-6 p-xl-6 p-align-center">
      <div class="clan-name p-align-center">
        <img [src]="currentWar.clan.badgeUrls.small" [alt]="currentWar.clan.name">
        <span class="name shadowed">{{ currentWar.clan.name }}</span>
      </div>
      <div class="attacks shadowed p-align-center">
        <img height="20" width="20" src="assets/img/attack.svg" alt="attacks">
        {{ currentWar.clan.attacks }}/{{ currentWar.teamSize * 2 }}
      </div>

      <div class="war-members shadowed">
        <div class="clan">
          <ul>
            <li *ngFor="let member of orderedMembers(currentWar.clan.members)">
              <span [id]="member.tag">{{ member.name }} {{ member.attacks ? member.attacks.length : 0 }}/2</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="clan-info p-sm-12 p-md-12 p-lg-6 p-xl-6 p-align-center">
      <div class="clan-name">
        <img [src]="currentWar.opponent.badgeUrls.small" [alt]="currentWar.opponent.name">
        <span class="name shadowed">{{ currentWar.opponent.name }}</span>
      </div>
      <div class="attacks shadowed">
        <img height="20" width="20" src="assets/img/attack.svg" alt="attacks">
        {{ currentWar.opponent.attacks }}/{{ currentWar.teamSize * 2 }}
      </div>

      <div class="war-members shadowed">
        <div class="clan">
          <ul>
            <li *ngFor="let member of orderedMembers(currentWar.opponent.members)">
              <span [id]="member.tag">{{ member.name }} {{ member.attacks ? member.attacks.length : 0 }}/2</span>
            </li>
          </ul>
        </div>
      </div>
    </div>


  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="round-coc-button coc-danger" routerLink="/home">
      <div class="button-bright"></div>
      <img class="home-icon" src="assets/img/home.svg" alt="Home">
    </ion-fab-button>
  </ion-fab>
</ion-content>
