ion-header {
  .score {
    display: flex;
    align-items: center;
    padding-top: 20px;

    .clan {
      display: flex;
      align-items: center;

      .stars i {
        margin-left: 5px;
      }

      img {
        height: 3rem;
      }

      .clan-destruction {
        font-size: 0.6rem;
      }
    }
    .vs {
      padding: 0 10px;
      font-size: 2.5rem;
    }
  }
}

ion-content {
  .war {
    margin-bottom: 65px;
    padding: 10px 0 0 0;

    .clan-info {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      .clan-name {
        display: flex;
        align-items: center;

        .name {
          font-weight: bold;
        }

        img {
          height: 3rem;
        }
      }

      .attacks {
        display: flex;

        img {
          height: 1.5rem;
          margin: 0 5px 0 0;
        }
      }
    }
  }

  .home-icon {
    height: 2rem;
  }
}
