<ion-header>
  <ion-toolbar>
    <form class="clan-form" [formGroup]="clanForm" (ngSubmit)="searchGuild()">
      <div class="search-tooblar">
        <ion-searchbar placeholder="Etiqueta del Clan" formControlName="clanTag"></ion-searchbar>
        <ion-button class="coc-button coc-success" (click)="searchGuild()" [disabled]="!clanForm.valid">
          <div class="button-bright">
          </div>
          <span class="shadowed">
            Buscar
          </span>
        </ion-button>
      </div>
    </form>
  </ion-toolbar>
  <div *ngIf="!!clan.name">
    <div class="clan-info">
      <img [src]="clan.badgeUrls.medium" [alt]="clan.name">
      <h1 class="shadowed">{{ clan.name }}</h1>
    </div>
    <p class="clan-description shadowed">
      {{ clan.description }}
    </p>
  </div>
  <div *ngIf="!clan.name" class="clan-not-found">
    <h1 class="shadowed">No existe ningún clan con la etiqueta {{ clanForm.clanTag }}</h1>
  </div>
</ion-header>

<ion-content>
  <ion-list class="member-list">
    <ion-item *ngFor="let member of clan.memberList" no-padding>
      <app-clan-member [member]="member"></app-clan-member>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="round-coc-button coc-danger" routerLink="/war">
      <div class="button-bright"></div>
      <img class="war-icon" src="assets/img/war.svg" alt="War">
    </ion-fab-button>
  </ion-fab>
</ion-content>
