ion-header {
  .clan-form .search-tooblar {
    display: flex;
    padding: 0 5px;
  }

  .clan-info {
    display: flex;
    align-items: center;

    img {
      width: 50px;
      height: 50px;
    }
  }

  .clan-description {
    padding: 5px 10px;
    font-size: 0.9rem;
    text-overflow: ellipsis;
    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
  }
}

ion-content {
  .member-list {
    margin-bottom: 65px;
  }

  .war-icon {
    height: 2rem;
  }
}
