// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~primeflex/primeflex.css";

@font-face {
  font-family: "ClashOfClansFont";
  src: url("assets/fonts/Supercell-magic-webfont.x-font-ttf");
  src: url("assets/fonts/Supercell-magic-webfont.x-font-ttf") format("woff"),
    url("assets/fonts/Supercell-magic-webfont.x-font-ttf") format("opentype"),
    url("assets/fonts/Supercell-magic-webfont.x-font-ttf") format("svg");
}

ion-button {
  text-transform: none;
}

* {
  font-family: "ClashOfClansFont";
}

.shadowed {
  color: #fafafa;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, 1px 2.5px 0 #000;
}

img {
  -webkit-user-drag: none;
}

.coc-button {
  position: relative;
  border-radius: 5px;
  border: 1px solid white;
  border-width: 0.07em;
  box-shadow: 1px 3px 1px gray, -1px 3px 1px gray;
  cursor: pointer;

  .button-bright {
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    height: 50%;
    width: 96%;
    left: 2px;
    top: 2px;
    border-radius: 3px;
    z-index: -1;
  }
}

.round-coc-button {
  position: relative;
  border-radius: 100%;
  border: 1px solid white;
  border-width: 0.07em;
  box-shadow: 1px 3px 1px gray, -1px 3px 1px gray;
  cursor: pointer;

  .button-bright {
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    height: 60%;
    width: 89%;
    top: 2px;
    border-radius: 40px 40px 15px 15px;
    z-index: -1;
  }
}

.coc-danger {
  --background: #ee7023;
}

.coc-success {
  --background: #67bb01;
}
